<body style="background:#000; color:#00ff41; font-family:monospace; display:flex; justify-content:center; align-items:center; height:100vh;">
    <div style="border:1px solid #00ff41; padding:40px; box-shadow:0 0 20px #00ff41;">
        <h2 style="text-align:center;">SYSTEM_AUTH</h2>
        <form action="/matrix_admin" method="POST">
            USER: <input type="text" name="user" style="background:#000; color:#00ff41; border:1px solid #00ff41; margin-bottom:10px;"><br>
            PASS: <input type="password" name="pass" style="background:#000; color:#00ff41; border:1px solid #00ff41; margin-bottom:20px;"><br>
            <button style="background:#00ff41; color:#000; width:100%; border:none; padding:10px; font-weight:bold; cursor:pointer;">CONNECT</button>
        </form>
    </div>
</body>
